<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
            <h1>Eat Da Burger!</h1>
        </div>
        <div class="col-xs-6 text-center" class="task">
            <div class="row">
                {{#each burgers}}
                {{#unless this.devoured}}
                <div class="col-xs-9 text-center">
                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                </div>
                <div class="col-xs-3 text-center">
                    <form action='/burgers/update/{{this.id}}' method="post" class="button-size devour-button">
                        <input type="hidden" class="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button type="submit" class="btn btn-default">
                            DEVOUR IT!
                        </button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class='col-md-12 text-center'>
                    <form action ="/burgers/create" method="post">
                        <input type="text" class="form-control" name="burger_name" id="enter_text">
                        <button type="submit" class="btn btn-primary" id="submit-burger">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-center" class="task">
            <div class="row">
                {{#each burgers}}
                {{#if this.devoured}}
                <div class="col-xs-9 text-center">
                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
